<h3>All Drinks</h3>

<ul class="drinks-list">
  <% @drinks.each do |drink| %>
    <li data-id="<%= drink.id %>">
      <%= drink.name %>
      <span class="delete-links">
         | <a class="drink-deleter" href="#">Delete</a>
      </span>
    </li>
  <% end %>
</ul>