<h4>All ingredients</h4>

<ul>
  <% @ingredients.each do |i| %>
    <li data-id="<%= i.id %>">
      <%= i.name %>
      <span class='delete-links'>
         | <a class="ingredient-deleter" href="#">Delete</a>
      </span>
    </li>
  <% end %>
</ul>